/* Sombras para scroll similares a Twenty RecordTable */
.scroll-shadows {
  position: relative;
}
.scroll-shadows::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  box-shadow: 0px 2px 4px 0px var(--shadow-color), 0px 0px 4px 0px var(--shadow-color);
  clip-path: inset(0px 0px -4px 0px);
}
.scroll-shadows::after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 4px;
  height: calc(100% + 2px);
  box-shadow: 2px 0px 4px 0px var(--shadow-color), 0px 0px 4px 0px var(--shadow-color);
  clip-path: inset(0px -4px 0px 0px);
}
