@import './comintec-design-system/tokens.css';
@import './comintec-design-system/utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 13px;
}

body {
    font-family: var(--font-family);
    background: #0a0a0a;
    color: #eeeeec;
    margin: 0;
    padding: 0;
}


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}